<form action="{{ site.baseurl }}/search/" method="get">
	<input type="search" name="q" {% if include.add_id %}id="search-input" {% endif %} placeholder="What are you looking for?" autofocus>
	{% include search-icon.html %}
	<input type="submit" value="Search" style="display: none;">
</form>