// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors

$dark-grey: #222;
$medium-grey: #666;
$light-grey: #ccc;
$header-color: #EA5560;

$link-color: #4A4A4A;
$link-hover-color: #111;